.card {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 20px 0;
  color: var(--gray-800);
  padding: 10px 20px;
  border: 1px solid var(--gray-800);
  border-radius: 16px;

  .header {
    display: flex;
    align-items: center;

    h2 {
      padding-right: 20px;
      text-transform: capitalize;
      cursor: pointer;
      transition: filter 0.2s;
      &:hover {
        filter: brightness(0.6);
      }
    }
  }

  .main {
    padding-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .types {
      display: flex;
      flex-direction: column;
      .type {
        width: 80px;
        height: 2rem;
        text-align: center;
        text-transform: capitalize;
        
        border: 1px solid var(--gray-800);
        padding: 5px;
        margin-top: 5px;
        border-radius: 25px;
      }
    }

    img {
      width: 9rem;
      padding: 0;
      margin: 0;
      overflow: hidden;
    }
  }
  
  @media (max-width: 1100px) {
    width: 80%;
    margin-top: 20px;
    margin: 0 auto;
  }
}
.empty {
  padding-top: 20px;
}